body {
    font-family: "Arial", sans-serif;
    font-size: 16px;
}

h1 {
    color: red;
}

h2 {
    color: blue;
}

table {
    border: 2px solid black;
    border-collapse: collapse;
}

table td, table th {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

button {
    border-radius: 5px;
    background-color: green;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin: 5px;
}

button:hover {
    background-color: darkgreen;
}
